pydot
pydotplus
graphviz
jupyterlab
ipywidgets
mkl-service
matplotlib-venn
joypy
fastcluster
autoviz
biopython
scanpy
python-louvain
leidenalg
umap-learn
phate
ivis
igraph
parc
cairocffi
lifelines
arviz
numpyro
jax
pystan
pycaret[full]
autokeras
tensorflow-probability
kaggle
